<h1 class = "page-header">Edit <%= @shelter.name %> </h1>


<%= form_tag "/shelters/#{@shelter.id}", method: :patch do %>
  <%= label_tag :name %><br>
  <%= text_field_tag :name %><br>
  <%= submit_tag "Update Shelter" %><br>
<% end %>
