<html>
  <head>
    <title>All Shelters</title>
    <link rel="stylesheet" href="stylesheets/reset.css" title="text/css" />
    <link rel="stylesheet" href="stylesheets/main.css" title="text/css" />
  </head>

  <body>
    <header>
      <h1>All Shelters</h1>
      <nav>
        <ul>
          <li><%= link_to "Shelters", "/shelters" %></li>
          <li><%= link_to "Pets", "/pets" %></li>
        </ul>
      </nav>
    </header>

    <section>
      <article class="shelter-index">
        <% @shelters.each do |shelter| %>
        <ul>
          <li><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %></li>
          <li><%= shelter.address %><br>
            <%= shelter.city %>, <%= shelter.state %> <%= shelter.zip %>
          </li>
        </ul>
        <p>
          <%= link_to "Edit #{shelter.name}", "/shelters/#{shelter.id}/edit" %> || <%= link_to "Delete #{shelter.name}", "/shelters/#{shelter.id}", method: :delete %>
        </p>
        <% end %>
        <p>
          <%= link_to "New Shelter", '/shelters/new' %>
        </p>
      </article>
    </section>
  </body>
</html>
