<html>
  <head>
    <title>Create a New Shelter</title>
    <link rel="stylesheet" href="stylesheets/reset.css" title="text/css" />
    <link rel="stylesheet" href="stylesheets/main.css" title="text/css" />
  </head>

  <body>
    <header>
      <h1>Create a New Shelter</h1>
      <nav>
        <ul>
          <li><%= link_to "Shelters", "/shelters" %></li>
          <li><%= link_to "Pets", "/pets" %></li>
        </ul>
      </nav>
    </header>

    <section>
      <article class="form">
        <h4>Please provide information about the new shelter here:</h4>
        <p>
          <%= form_tag "/shelters" do %>
          <%= label_tag :name %>
          <%= text_field_tag :name %><br>
          <%= label_tag :address %>
          <%= text_field_tag :address %><br>
          <%= label_tag :city %>
          <%= text_field_tag :city %><br>
          <%= label_tag :state %>
          <%= text_field_tag :state %><br>
          <%= label_tag :zip %>
          <%= text_field_tag :zip %><br>
          <br>
          <%= submit_tag "Create Shelter" %> || <%= button_to "Cancel", :back %>
          <% end %>
        </p>
      </article>
    </section>
  </body>
</html>
