<h1 class="page-header"><%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}", method: :get %></h1><br>

<nav class="menu">
  <ul>
    <li><%= link_to "Shelters", "/shelters", method: :get %></li>
    <li><%= link_to "Pets", "/pets", method: :get %></li>
  </ul>
</nav>

<h2 class="page-subtitle">Information</h2>
<p>Name: <%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}", method: :get %></p>
<p>Address: <%= @shelter.address %></p>
<p>City: <%= @shelter.city %></p>
<p>State: <%= @shelter.state %></p>
<p>Zip: <%= @shelter.zip %></p>
<br>
<h2 class="page-section">Shelter's Pet(s): </h2>
<ul id= "pet-list">
  <% @shelter.pets.each do |pet| %>
  <%= link_to pet.name, "/pets/#{pet.id}", method: :get %><br />
  <% end %>
</ul>
<ul class="list">
  <%= link_to "See all of #{@shelter.name}'s pets", "/shelters/#{@shelter.id}/pets", method: :get %>
</ul>
<br>
<br>
<%= link_to "Edit #{@shelter.name}", "/shelters/#{@shelter.id}/edit" , method: :get %>
<%= link_to "Delete #{@shelter.name}", "/shelters/#{@shelter.id}", method: :delete %>
