<html>
  <head>
    <title>@shelter.name</title>
    <link rel="stylesheet" href="stylesheets/reset.css" title="text/css" />
    <link rel="stylesheet" href="stylesheets/main.css" title="text/css" />
  </head>

  <body>
    <header>
      <h1><%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %></h1>
      <nav>
        <ul>
          <li><%= link_to "Shelters", "/shelters" %></li>
          <li><%= link_to "Pets", "/pets" %></li>
        </ul>
      </nav>
    </header>

    <section>
      <article class = "show-info">
        <h3>Information</h3>
        <br>
        <ul>
          <li><%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %></li>
          <li><%= @shelter.address %><br>
            <%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %></li>
          </ul>
      </article>
    </section>

    <section>
      <article class = "show-index">
        <h3>Shelter's Pet(s)</h3>
        <p>There are <%= @shelter.pets.count %> pets available for adoption!!</p><br>
        <% @shelter.pets.each do |pet| %>
        <br>
        <ul>
          <li><%= link_to pet.name, "/pets/#{pet.id}" %></li>
        </ul>
        <% end %>
        <p><br>
          <%= link_to "See all of #{@shelter.name}'s pets", "/shelters/#{@shelter.id}/pets" %>
        </p><br>
        <br>
        <p>
          <%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %> || <%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
        </p>
        <br>
        <br>
        <p>
          <%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new"%>
        </p>
      </article>
    </section>
  </body>
</html>
