<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <%= image_tag(pet.image, alt: pet.name, method: :get) %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}", method: :get %>
  <p><%= pet.name %> (<%= pet.sex %>), <%= pet.approximate_age %></p>
  <p>Currently located at: <%= pet.shelter.name %></p>
<% end %><br />
<br />
