<h1 class="page-header"><%= link_to "#{@pet.name}", "/pets/#{@pet.id}", method: :get %></h1><br>

<nav class="menu">
  <ul>
    <li><%= link_to "Shelters", "/shelters", method: :get %></li>
    <li><%= link_to "Pets", "/pets", method: :get %></li>
  </ul>
</nav>

<h2 class="page-subtitle">Information</h2><br>
<br>
<p><%= image_tag(@pet.image, alt: @pet.name, method: :get) %></p>
<p>Status: <%= @pet.status %></p>
<p><%= @pet.sex %>, <%= @pet.approximate_age %> years old</p>
<p>Currently located at: <%= link_to "#{@pet.shelter.name}", "/shelters/#{@pet.shelter.id}", method: :get %></p>

<%= link_to "Update Pet", "/pets/#{@pet.id}/edit", method: :get %>

<%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>
