<h1 class="page-header"><%= @pet.name %></h1><br>
<h2 class="page-subtitle">Information</h2><br>
<br>
<p><%= image_tag(@pet.image, alt: @pet.name, method: :get) %></p>
<p>Status: <%= @pet.status %></p>
<p><%= @pet.sex %>, <%= @pet.approximate_age %> years old</p>
